.modify_holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title_change {
    display: flex;
    flex-direction: row;

    margin-top: 20px;
}

.portion_control {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.portion_control p {
    margin: 0;
    border: solid black 1px;
    border-radius: 20px;
}

.portion_control h3 {
    margin: 0;
}

.description {
    display: flex;
    flex-direction: row;
}

.description h3 {
    margin: 0;
}

.ingredient_div {
    display: flex;
    flex-direction: row;
}

.ingredient_div p {
    margin: 0;
    border: solid black 1px;
}

.steps {
    display: flex;
    flex-direction: row;
}

.steps p {
    margin: 0;
    border: solid black 1px;
}

p {
    border: solid black 1px;
    margin: 4px;
    padding: 3px;
    border-radius: 20px;
}