:root{
    --topbar_height: 6vh;
    --topbar_logo_padding: 10px;
    --base-green: #2E7D32;
    --deep-green: #1B6D24;
}

body{
    margin: 0;
    background-color: #fff5e1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    margin: 0;
    color: var(--deep-green);
    cursor: pointer;
}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    min-height: 50px;
    height: var(--topbar_height);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    background-color: #fdf5e6;
    position: relative;
}

.logo{
    display: flex;
    padding: var(--topbar_logo_padding);
    align-items: center;
}

.title{
    width: 25%;
    height: 100%;
    max-width: 300px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 0;
}

li{
    list-style-type: none;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
}

li:hover{
    color:var(--base-green);
}

#user{
    display: flex;
}

.user_icon{
    display: flex;
    padding: calc(var(--topbar_logo_padding) / 2);
    cursor: pointer;
}

#user_icon{
    color: var(--base-green);
}