:root{
    --topbar_bottom_padding: 10px;
    --base-green: #2E7D32;
    --deep-green: #1B6D24;
    --bg-light: #fdf5e6;
    --bg-std: #fff5e1;
}

body{
    margin: 0;
    background-color: var(--bg-light);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    margin: 0;
    color: var(--deep-green);
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: var(--topbar_bottom_padding) 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    background-color: var(--bg-std);
}

.logo{
    justify-self: start;
    cursor: pointer;
}

.title{
    justify-self: center;
    display: none;
}

ul{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

li{
    font-weight: 600;
    cursor: pointer;
}

.title li{
    padding: 5px 10px;
    border-radius: 20px; 
}

.title li:hover{
    color:var(--base-green);
}

.user_icon{
    justify-self: end;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
}

.user_icon_wrapper{
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
    height: 100%;
}

.user_icon_wrapper p{
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0;
}

#user_icon{
    color: var(--base-green);
    cursor: pointer;
}

#user{
    justify-self: end;
    height: 100%;
    aspect-ratio: 1/1;
}

.dropdown_content{
    position: absolute;
    display: none;
    top: 100%;
    right: -10px;
    left: auto;
    margin-top: var(--topbar_bottom_padding);
    min-width: 150px;
    border-bottom-left-radius: 10px;
    border-left: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    background-color: var(--bg-std);
    z-index: 1;
}

.dropdown_content::before{
    content: "";
    position: absolute;
    top: calc(var(--topbar_bottom_padding) * -1);
    left: 0;
    right: 0;
    height: var(--topbar_bottom_padding);
    background-color: transparent;
}


.user_icon_wrapper:hover .dropdown_content{
    display: block;
}

.dropdown_content ul{
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}

.dropdown_content li{
    padding: 10px;
    background-color: #f4e7d1;
    height: auto;
    font-size: 1rem;
    border-radius: 10px;
}

.dropdown_content li:hover{
    background-color: #66ff5841;
}

