{% extends 'base.html' %}

{% block head %}

    <title>Add Recipe</title>
    <link rel="stylesheet" href="../static/CSS/addrecipe.css">
    <link rel="stylesheet" href="../static/CSS/tags.css">

{% endblock %}




{% block main_body %}

    <!--
        just a container to hold all the input boxes
        ex title, ingredients and more
    -->
    <div class="whole_input_page">
        <form action="/create" method="POST">
            <div class="title_container">
                <h2>Title</h2>
                <input type="text" name="title" id="title" placeholder="Title" size="20">
            </div>

            <div class="tag_select">
                <h2>Tags:</h2>
                {% for cat in cats %}
                    <div class="dropdown">
                        <div class="rem_tag">
                            <input type="button" value="{{cat.category}}" placeholder="{{cat.category}}">
                            <p>x</p>
                        </div>
                        <input type="hidden" value="{{cat.category}}" placeholder="{{cat.category}}" name="tag[]">
                        <div class="tag_content">
                            <ul>
                            {% for tag in tags2d %}
                                {% if tag.category == cat.category %}
                                    <li>
                                        {{tag.unit}}
                                    </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="description">
                <h2>Description</h2>
                <input type="text" name="description" id="description" placeholder="Description of your creation" size="50">
            </div>

            <div class="portions">
                <h3>Portions</h3>
                <div class="portion_control" style="-webkit-user-select: none; user-select: none;">
                    <p id="minus">&minus;</p>
                        <input type="number" name="portions" placeholder="Portions" id="portions" min="1" max="16" value="2">
                    <p id="plus">&plus;</p>
                </div>
            </div>

            <div class="ingredient">
                <h2>Ingredients</h2>
                <input type="button" placeholder="Add ingredient" id="ingredient_btn" value="Add ingredient">
            </div>

            <div class="step">
                <h2>Steps</h2>
                <input type="button" id="step_btn" placeholder="Add step" value="Add step">
            </div>


            <input type="submit" value="Submit recipe">

            {% for recipe in recipies %}
                <p>{{ recipe.recipe_title }}</p>
            {% endfor %}

        </form>
    </div>


    <script src="../static/JS/addrecipe.js"></script>
    <script src="../static/JS/tags.js"></script>

{% endblock %}