<!--

This file is the base file with HTML features that are shared
between all the HTML pages, thanks to the jinja2 syntax we 
can write in separate files and import to this one before 
rendering.

Current features are:
 * top bar with:
   * logo - clikc => change to homepage?
   * Title
   * User icon - click => change to login (not implemented)?

-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/topbar.css">
    <link rel="stylesheet" href="../static/CSS/footer.css">
    {% block head %} {% endblock %}
    {% block flash %} {% endblock %}
</head>
    <body>
        <header>
            <div class="logo">
                <form action="/">
                    <div id="logo">
                        <h1>TheRecipeBox</h1>
                    </div>
                </form>
            </div>

            <div class="title">
                <ul>
                    <li>Trending</li>
                    <li>Popular</li>
                    <li>Seasonal</li>
                </ul>
            </div>

            <div class="misc_elements">
                
                {% if request.path != '/' %}
                <form action="/viewrecipe" method="GET">
                    <div class="searchbar">
                        <!--Credit: https://icons8.com/icon/7695/search-->
                        <svg xmlns="http://www.w3.org/2000/svg" id="magnifying_glass" x="0px" y="0px" viewBox="0 0 50 50"><path d="M 21 3 C 11.601563 3 4 10.601563 4 20 C 4 29.398438 11.601563 37 21 37 C 24.355469 37 27.460938 36.015625 30.09375 34.34375 L 42.375 46.625 L 46.625 42.375 L 34.5 30.28125 C 36.679688 27.421875 38 23.878906 38 20 C 38 10.601563 30.398438 3 21 3 Z M 21 7 C 28.199219 7 34 12.800781 34 20 C 34 27.199219 28.199219 33 21 33 C 13.800781 33 8 27.199219 8 20 C 8 12.800781 13.800781 7 21 7 Z"></path></svg>
                        <input type="search" class="quick_search" name="recipe_id" placeholder="Quick search..." autocomplete="off">
                    </div>
                </form>
                {% endif %}
                
                <div class="user_icon_wrapper">
                    {% if session.get('first_name') is not none %}
                        <p>{{session.get('first_name')}}</p>
                    {%endif%}
                    <a href="/login" id="user" method = "GET">
                        {% if session.get('id') and session.get('profile_image') and session.get('profile_image') != 'default.svg'  %}
                            <img src="{{ url_for('static', filename='Bilder/profile_pics/' + session.get('profile_image')) }}">
                        {% else %}
                            <img src="{{ url_for('static', filename='Bilder/default.svg') }}">
                        {% endif %}
                    </a>
                    {% if session.get('id') is not none %}
                        <div class="dropdown_content">
                            <ul>
                                <li id="profile_button">
                                    <a href=/user id="profile" method="GET">
                                        Profile
                                    </a>
                                <li id="recipe_button">
                                    <a href=/user/recipes id="recipe" method="GET">
                                        My Actions
                                    </a>
                                <li id="logout_button">
                                    <a href="/logout" id="logout" method="GET">
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                    {%endif%}
                </div>
            </div>
        </header>
        <script src="../static/JS/topbar.js"></script>
        <main>
            {% block main_body %} {% endblock%}
            {% block flashmessage %} {% endblock%}
        </main>
        <footer>
            {% block bottom%} {% endblock%}
        </footer>
    </body>
</html>