{% extends 'base.html' %}

{% block head %}

    <title>Homepage</title>
    <link rel="stylesheet" href="../static/CSS/homepage.css">

{% endblock %}


{% block main_body %}
    <div class="main_page">
        <form action="/create" method="GET">
            <p>add recipe</p>
            <input type="submit" size="10">
        </form>

        <form action="/viewrecipe" method="GET">
            <p>go to recipe id</p>
            <input type="text" size 10 name="recipe_id">
            <input type="submit" size="10">
        </form>

        <form action="/comment" method="GET">
            <p>Add a comment</p>
            <input type="submit" size="10">
        </form>

        <div style="text-align: center;">
            {% if recipies|length > 0 %}
                {% for recipe in recipies %}
                    <h4>{{recipe.id}}.  {{recipe.recipe_title}}</h4>
                    <h5> {{recipe.description}}</h5>
                {% endfor %}
            {% else %}
                <p>No recipes found.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}