{% extends 'base.html' %}

{% block head %}

    <title>Homepage</title>
    <link rel="stylesheet" href="../static/CSS/homepage.css">

{% endblock %}


{% block main_body %}
    <div class="main_page">
        <form action="/create" method="GET">
            <p>add recipe</p>
            <input type="submit" size="10">
        </form>

        <form action="/viewrecipe" method="GET">
            <p>go to recipe id</p>
            <input type="text" size 10>
            <input type="submit" size="10">
        </form>
    </div>
{% endblock %}