{% extends 'base.html' %}

{% block head %}

    <title>Login</title>
    <link rel="stylesheet" href="../static/CSS/loginpage.css">

{% endblock %}


{% block main_body %}
        <div class="login-page">
            <form action="/login" method="post">
                <div class="login">
                    <h2>login to your account</h2>
                    <input type="text" placeholder="Username" size="12">
                    <input type="password" placeholder="password" size="12">
                    <input type="submit"value="Login">
                </div>
            </form> 

            <form action="/register" method="post">
                <input type="submit" value="register">
            </form>
        </div>
        <script src="../static/JS/loginpage.js"></script>
{% endblock %}