{% extends 'base.html' %}

{% block head %}

    <title>Login</title>
    <link rel="stylesheet" href="../static/CSS/loginpage.css">

{% endblock %}


{% block main_body %}
        <div class="login-page">
            <div class="border">
                <form action="/login" method="post">
                    <div class="login">
                        <h2>Login to your account</h2>
                        <input type="text" name="username" placeholder="Username" size="12">
                        <input type="password" name="password" placeholder="password" size="12">
                        <input type="submit"value="Login">
                    </div>
                </form> 

                <form action="/register" method="post">
                    <input type="submit" value="register">
                </form>
            </div>
        </div>
        <script src="../static/JS/loginpage.js"></script>
{% endblock %}

{% block bottom %}
    <p>It is prohibited to access an account you do not have 
       permission to access and could lead to legal consequences
        </p>
{% endblock %}