{% extends 'base.html' %}

{% block head %}

    <title>Review</title>
    <link rel="stylesheet" href="../static/CSS/review.css">

{% endblock %}

{% block main_body %}
    <div class="whole_input_page">
        <form action="/review" id="review_form" method="POST">
            <div class="recipe_id_container">

                {% if recipe %}
                    <h2>Review on recipe: {{recipe.recipe_title}}</h2>
                    <input type="hidden" name="recipe_id" value="{{recipe.id}}">
                {% else %}
                     <h2>Recipe id to review on</h2>
                    <input type="text" name="recipe_id" placeholder="Recipe id" size="20" autocomplete="off">
                {% endif %}
            </div>

            <div class="review">
                <input type="text" id="review" name="review" placeholder="Review (0 to 5)" autocomplete="off">
            </div>

            <input type="submit" id="submit" value="Post review">
        </form>
    </div>


{% endblock %}
