{% extends 'base.html' %}

{% block head %}

    <title>Review</title>
    <link rel="stylesheet" href="../static/CSS/review.css">

{% endblock %}

{% block main_body %}
    <div class="whole_input_page">
        <form action="/review" id="review_form" method="POST">
            <div class="recipe_id_container">
                <h2>Review recipe</h2>
                <input type="text" id="recipe_id" name="recipe_id" placeholder="Recipe id" autocomplete="off">
            </div>

            <div class="review">
                <input type="text" id="review" name="review" placeholder="Review (0 to 5)" autocomplete="off">
                <h2 class="rating_h2">/ 5</h2>
            </div>

            <input type="submit" id="submit" value="Post review">
        </form>
    </div>


{% endblock %}
